name: Build on PR

on: [pull_request]

jobs:
  run-build:
    name: Run Build
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 18

      - name: Install Node.js dependencies
        run: npm install
      - name: Lint
        run: npm run lint
      - name: Build
        run: npm run build
